@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-5">
                <h1 class="display-4">Welcome to Our Company Portal</h1>
                <p class="lead">Explore our modules and stay updated with upcoming events!</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Modules</h3>
                            <p class="card-text">Access various educcational courses and quizes.</p>
                            <a href="/Modules/UserModules" class="btn btn-primary" style="background-color: #673ab7;">Explore Modules</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title">Upcoming Events</h3>
                            <p class="card-text">Stay informed about upcoming events.</p>
                            <a href="/Events" class="btn btn-primary" style="background-color: #673ab7;">View Events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
